<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/DDKarwa/Desktop/PainMe/PainMeTrackerRepo</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2012-08-08T13:32:28Z</date>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
